.about {
  font-size: 13rem;
  font-weight: 900;
  text-align: center;
  align-items: center;
  padding-top: 8rem;

  &-subtext {
    font-size: 2rem;
    text-align: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
