/* Footer */

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  align-items: center;

  &-footnote {
    color: $primary;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    justify-content: center;
    text-align: center;

    a {
    color:$primary;
    transition: 0.3s ease-in-out;
    }
    
    a:hover {
      color: darkorange;
    }
  }

  &-navigation {
    overflow: hidden;

    &-item {
      font-size: 3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      transition: 0.3s ease-in-out;

      text-decoration: none;
      cursor: none;
    }
    &-item:hover {
      font-size: 4rem;
    }
  }

}
