/* Navbar */

.navbar {
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
  text-align: left;
  justify-self: left;
  overflow: hidden;


  a {
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }
  a:hover {
    color: $highlight;
  }

}
