/* Navbar */

.navbar {
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
  overflow: hidden;



  a {
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }

  
  a:hover {
    color: $highlight;
  }

  @media only screen and (max-width: 640px) {

      a {
          padding-left: 1rem;
          padding-right: 1rem;
          text-decoration: none;
          transition: 0.3s ease-in-out;
          text-decoration: none;
        }
  }

}
